<!DOCTYPE html>
<html ng-app="bookATigerApp">
<head>
  <meta charset="UTF-8">
  <title>Book a Tiger coding challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="BookingStepsCtrl">

  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <ul class="pure-menu-list">
        <li ng-repeat="step in steps" ng-click="setActive($index)"
        ng-class="($index==selected) ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
          <a href="#" class="pure-menu-link">
            <span class="step-marker">{{$index + 1}}</span>{{step.name}}
          </a>
        </li>
      </ul>
      <div class="progress-wrapper">
        <div class="progress-bar" style="width: {{(selected+1)/steps.length*100}}%;"></div>
      </div>
    </div>
  </div>

  <br /><br /><br />
  <div class="main-content">

    <!-- First step -->
    <form class="pure-form pure-form-stacked" ng-show="(selected === 0)">
      <fieldset>
        <legend>When would you like to book?</legend>

        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <input id="date" class="pure-u-1 pure-u-md-4-5" type="date" placeholder="Select date" ng-model="booking.date">
          </div>

          <div class="pure-u-1 pure-u-md-1-2">
            <select id="time" class="pure-u-1 pure-u-md-4-5" ng-model="booking.time">
              <option>8.00h</option>
              <option>12.00h</option>
              <option>18.00h</option>
            </select>
            <label for="flexible" class="pure-checkbox">
              <input id="flexible" type="checkbox" ng-model="booking.flexible"> I can be flexible with time
            </label>
          </div>
        </div>

        <legend>Please enter your zip code</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <input id="zip" class="pure-u-1 pure-u-md-4-5" type="text" placeholder="Zip code" ng-model="booking.zip">
          </div>
        </div>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <button type="submit" class="pure-button pure-button-primary" 
            ng-click="updateBooking(booking, 1)">Next</button>
          </div>
        </div>
      </fieldset>
    </form>

    <!-- Second step -->
    <form class="pure-form pure-form-stacked" ng-show="(selected === 1)">
      <fieldset>
        <legend>How much time do you need?</legend>

        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <select id="duration" class="pure-u-1 pure-u-md-4-5" placeholder="Duration in hours" 
            ng-model="booking.duration">
              <option>1h</option>
              <option>2h</option>
              <option>3h</option>
            </select>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">* Our basic cleaning</div>
        </div>

        <legend>How often?</legend>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <input id="frequency" class="pure-u-1 pure-u-md-4-5" placeholder="Select frequency" 
            ng-model="booking.frequency" ng-click="toggleFrequencySelect()">
            <ul class="pure-u-1 pure-u-md-4-5 dropdown" ng-show="(openFrequencySelector)">
              <li ng-repeat="option in frequencyOptions | filter:booking.frequency"
              ng-click="selectFrequency(booking, option.name)">
                <span class="name">{{option.name}}</span>
                <span class="price">from {{option.price}} €/h</span>
                <span class="bestseller" ng-show="option.bestseller">
                  <i class="fa fa-bookmark"></i>
                  Bestseller
                </span>
              </li>
            </ul>
          </div>
          
        </div>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <button type="submit" class="pure-button pure-button-primary pure-button-disabled">Next</button>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <button type="submit" class="pure-button pure-button" ng-click="updateBooking(booking, 0)">Go back</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</body>
</html>
